<ion-content>

  <ion-label class="lbl_head">Buy. Rent. Sell.</ion-label>

  <ion-label class="lbl_desc">Premium Real Estate Platform</ion-label>

  <div class="div_img">
    <img src="../../assets/images/headerLogo.png" class="img_logo" />
  </div>

  <ion-row class="row_btn">
    <ion-col size="6" class="col_btn">
      <ion-button expand="full" fill="solid" size="large" (click)="login()">Login</ion-button>
    </ion-col>
    <ion-col size="6" class="col_btn">
      <ion-button expand="full" size="large" fill="outline" (click)="register()">Register</ion-button>
    </ion-col>
  </ion-row>

</ion-content>