.img_main {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.lbl_main {
  font-size: 28px;
  font-weight: 600;
  color: var(--ion-color-dark);
  display: block;
}
.img_choose {
  width: 100%;
  height: 200px;
  object-fit: cover;
  padding: 16px 16px 0px 16px;
}
.spc_all {
  padding: 16px;
}
.slides1 {
  margin: 0px 16px;
  padding-bottom: 16px;

  .slide1 {
    .icon_slide1 {
      font-size: 34px;
      box-shadow: 0px 4px 10px var(--ion-color-secondary);
      padding: 10px;
      border-radius: 50%;
    }
    .lbl_title_slide1 {
      display: block;
      font-size: 22px;
      text-align: left;
      padding: 0px 16px 8px 16px;
    }
    .lbl_desc_slide1 {
      display: block;
      font-size: 16px;
      text-align: left;
      padding: 0px 16px 8px 16px;
    }
  }
}

.slides2 {
  margin: 16px;
  padding-bottom: 32px;
  .slide2 {
    // box-shadow: 0 0 10px #ccc;
    padding: 5px;
    .card_slide2 {
      margin: 0px;
      border-radius: 0px;
      box-shadow: 0 0 10px #ccc;
      width: 100%;
      padding: 8px;

      .img_slide2 {
        border-radius: 50%;
      }
      .lbl_tech2 {
        display: block;
        font-size: 18px;
        font-weight: 600;
        padding: 16px 16px 8px 16px;
      }
      .lbl_desc2 {
        display: block;
        font-size: 14px;
      }
    }
  }
}

.slides3 {
  margin: 16px;
  padding-bottom: 16px;

  .slide3 {
    .card_slide3 {
      padding: 16px;
      margin: 0px;
      border-radius: 0px;
      box-shadow: 0px 0px;
      background: var(--ion-color-secondary);

      .lbl_head3 {
        font-size: 24px;
        display: block;
      }
      .lbl_desc3 {
        display: block;
        font-size: 16px;
        padding: 16px 0px;
      }
      .lbl_name3 {
        display: block;
        font-size: 18px;
        padding: 16px;
      }
      .lbl_4 {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.lbl_desc4 {
  display: block;
  margin: 0px 16px 16px 16px;
  font-size: 16px;
}

.slides4 {
  margin: 16px;
  padding-bottom: 16px;
  // .slide4{
  //     .img_slide4{

  //     }
  // }
}

.lbl_stick {
  font-size: 28px;
  font-weight: 600;
  display: block;
  padding: 0px 16px 0px 16px;
  color: var(--ion-color-dark);
}

ion-content {
  position: relative;
}
.img_main {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card_search {
  position: absolute;
  top: 105px;
  right: 0;
  left: 0;
  margin: 16px;
  border-radius: 0px;
  box-shadow: 0px 0px;
  background: var(--ion-color-primary);
  padding: 16px;
  height: 175px;

  .lbl_line {
    color: var(--ion-color-primary-contrast);
    font-size: 22px;
    display: block;
    text-align: center;
  }
  .imp {
    --padding-start: 0px !important;
    padding: 0px !important;
  }
  .search {
    padding: 0px 0px;
    width: 100%;
  }
  .row_search {
    float: right;
    .btn_buy {
      width: 51px;
    }
  }
}
.card_search.ios.hydrated {
  visibility: visible;
  overflow: visible;
  z-index: 999;
}

.lbl_para1{
    color: #515151;
    font-size: 16px;
    font-weight: 300;
    // line-height: 1.7;
    margin-bottom: 16px;
    padding: 0px 16px;
    display: block;
}
.div_founder{
    text-align: center;
    box-shadow: 0px 0px 4px #ccc;
    margin: 16px;
    padding: 16px;

    .img_founder{
        height: 150px;
        border-radius: 50%;
    }
    .lbl_founder{
        font-weight: bold;
        font-size: 24px;
        display: block;
        padding: 8px;
    }
    .lbl_paras{
        color: #515151;
        font-size: 16px;
        font-weight: 300;
        // line-height: 1.7;
        // margin-bottom: 16px;
        // padding: 0px 16px;
        display: block;
    }
}