.dropdown{
    width: 100px;
    margin: 0px;
    padding: 8px 0px 0px 0px;
}
.dropdown-item{
    padding: 5px 8px;
}
.dropdown-menu{
    padding: 0px;
    border-radius: 0px;
    min-width: 100px;
    transform: translate3d(13px, 34px, 0px) !important;
}
p{
    display: inline-block;
    line-height: 0;
    padding: 0px 6px;
    margin: 0px;
}
.img_flag{
    width: 28px;
    height: 21px;
}