.page_signin{
    position: relative;
    
    .div-card{
        //position: absolute;
        // background: var(--ion-color-secondary-contrast);
        //top: 30%;
        //height: 100%;
        width: 100%;
        //border-top-left-radius: 75px;
        //border-top-right-radius: 40px;
    }
}

.lbl_header{
    color: var(--ion-color-secondary-contrast);
    font-size: 24px;
    font-weight: 500;
    line-height: 2.5;
}


.img_logo{
    // width: 80px;
    height: 80px;
    margin: 0 auto;
    padding-top: 22px;
}

ion-card{
    margin: 50px 28px 14px 28px;
    //padding: 5px;
    border-radius: 0px;
    box-shadow: 0px 0px 0px var(--ion-color-secondary-contrast);
}
.img_icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 0px 4px 10px #ccc;
    padding: 4px;
    position: relative;
    margin: 0 18px;
}
// #CFEFF0
ion-row{
    margin: 0 auto;
    justify-content: center;
    margin-top: 18px;
}
.lbl-forgot{
    color: var(--ion-color-dark);
    display: block;
    text-align: end;
    font-size: 14px;
    margin: 0px 33px 30px 0px;
}
// .div-email{
//     box-shadow: 0px 4px 10px #ccc;
// }
.lbl-new{
    color: var(--ion-color-dark);
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 20px 0px;
}
ion-button{
    color: var(--ion-color-secondary-contrast);
    // width: 65%;
    margin: 33px;
    font-size: 16px;
    // border-radius: 50px;
    background: var(--ion-color-primary);
    box-shadow: 0px 8px 10px #ccc !important;
    border-radius: 8px;
    // border-bottom-left-radius: 15px;
    // border-top-right-radius: 15px;
}
::placeholder{
    font-size: 12px;
}

.div-logo{
    background: var(--ion-color-secondary-contrast);
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0px 0px 6px #fff;
    // box-shadow: 0px 2px 10px #fff;
}

.btn-bottom{
    margin-top: 20%;
    margin-bottom: 10%;
}