
.img_main {
  height: 250px;
  width: 100%;
  object-fit: cover;
  opacity: 0.4;
}
.div_img{
  text-align: center;
  padding: 16px 0px 8px 0px;
  .img_logo{
    width: 60%;
  }
}
.card_search {
  position: absolute;
  top: 14px;
  // width: 100%;
  right: 0;
  left: 0;
  margin: 32px;
  border-radius: 0px;
  box-shadow: 0px 0px;
  background: transparent;
  // padding: 16px;
  // height: 175px;

  .lbl_line {
    color: var(--ion-color-primary-contrast);
    font-size: 22px;
    display: block;
    text-align: center;
    font-weight: bold;
  }
  .imp {
    --padding-start: 0px !important;
    padding: 0px !important;
  }
  .search {
    padding: 0px 0px;
    width: 100%;
    // border: 2px solid var(--ion-color-medium);
  }
  .row_search {
    // float: right;
    width: 100%;
    // display: flex;
    // justify-content: center;

    .btn_buy {
      width: 100% !important;
      text-transform: uppercase;
      // display: flex;
    }
  }
}
.card_search.ios.hydrated {
  visibility: visible;
  overflow: visible;
  z-index: 999;
}
.slides1 {
  margin: 154px 16px 16px 16px;
  padding-bottom: 20px;
  z-index: 0 !important;

  .slide1 {
    // box-shadow: 0 0 16px #ccc;
    padding: 10px;

    .card_slide1 {
      height: 365px;
      padding: 8px;
      margin: 0px;
      border-radius: 0px;
      box-shadow: 0 0 10px #ccc;
      color: var(--ion-color-primary-contrast);

      .img_slide1 {
        height: 200px;
        width: 200px;
      }
      .lbl_tech1 {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        padding: 16px;
        font-weight: bold;
      }
      .lbl_desc1 {
        display: block;
        text-align: left;
        color: var(--ion-color-medium);
        padding: 0px 16px 0px 16px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.card_live {
  padding-bottom: 16px;
  margin: 16px;
  border-radius: 0px;
  box-shadow: 0px 0px;
  // background: var(--ion-color-secondary);
  background: #eee;

  .img_live {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  .lbl_live {
    display: block;
    font-size: 28px;
    padding: 16px;
    font-weight: 600;
  }
  .lbl_live_head {
    display: block;
    font-size: 18px;
    padding: 0px 16px;
  }
  .lbl_live_desc {
    display: block;
    font-size: 15px;
    padding: 16px 16px 5px 16px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .lbl_btn {
    padding: 0px 16px 16px 16px;
    font-size: 18px;
  }
  .btn_prof {
    width: 50%;
    margin-left: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.slides_news {
  margin: 16px;
  padding-bottom: 4px;

  .slide_news {
    .card_news {
      height: 275px;
      margin: 0px;
      border-radius: 0px;
      // box-shadow: 0px 0px;

      .img_news {
        height: 175px;
        width: 100%;
        object-fit: cover;
      }
      .lbl_head_news {
        font-size: 20px;
        font-weight: 600;
        display: block;
        text-align: left;
        padding: 6px 16px 0px 16px;
      }
      .lbl_square{
        display: block;
        font-size: 18px;
        text-align: left;
        padding: 0px 16px;
      }
      .lbl_desc_news {
        display: block;
        font-size: 16px;
        text-align: left;
        padding: 0px 16px;
        white-space: nowrap;
        // display: -webkit-box;
        // -webkit-line-clamp: 4;
        // -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
.btn_news {
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
}

.slides_meet {
  margin: 16px 16px 0px 16px;
  padding-bottom: 4px;
  .slide_meet {
    .card_meet {
      height: 415px;
      padding: 16px;
      margin: 0px 0px 30px 0px;
      border-radius: 0px;
      box-shadow: 0px 0px;
      background: #eee;

      // .img_meet{

      // }
      .lbl_head_meet {
        display: block;
        font-weight: 600;
        font-size: 22px;
        padding: 16px;
      }
      .lbl_desc_meet {
        display: block;
        font-size: 15px;
      }
      .lbl_name_meet {
        display: block;
        font-size: 28px;
        font-weight: bold;
        padding: 16px 16px 0px 16px;
        // font-family: Allura;
      }
    }
  }
}

.slides_property {
  margin: 16px;
  padding-bottom: 28px;

  .slide_property {
    // margin: 16px 0px 16px 0px;

    .card_property {
      margin: 0px;
      border-radius: 0px;
      box-shadow: 0 0 10px #ccc;
      height: 405px;

      .img_property {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
      .lbl_head_property {
        display: block;
        font-size: 17px;
        text-align: left;
        padding: 5px 16px;
        font-weight: bold;
        // text-transform: uppercase;
      }
      .lbl_add1_property {
        display: block;
        font-size: 15px;
        text-align: left;
        padding: 5px 16px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        // text-transform: uppercase;
      }
      .lbl_add2_property {
        display: block;
        font-size: 16px;
        text-align: left;
        padding: 5px 16px;
      }
      .lbl_rate {
        display: block;
        font-size: 14px;
        text-align: left;
        padding: 5px 16px;
      }
    }
  }
}
.div_divider{
  border: 5px solid #eee;
}
.lbl_stick {
  font-size: 18px;
  // display: block;
  padding: 0px 16px;
  // font-weight: 600;
}

.top {
  padding-top: 16px;
}

.search_error {
  color: #fff;
}

.lbl_ {
  font-size: 20px !important;
  font-weight: bold !important;
}

.lbl_news_desc {
  display: block;
  // text-align: center;
  padding: 8px 16px 16px 16px;
  font-size: 16px;
  color: black;
}
.row_explore{
  padding: 8px;
  .col_explore{
    padding: 0px;
    line-height: 75px;
    text-align: center;
    .img_explore{
      height: 75px;
    }
    .lbl_explore{
      display: block;
      font-size: 18px;
    }
  }
}